 .cadastro{
     font-size: 35px;
     margin: 10px 10px
 }
body{
    background-color: antiquewhite;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;

}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    
    
}

.input-padrao{
    display: block;
    margin: 0 0 15px;
    padding: 10px 80px;
    width: 65%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 41%;
    padding: 15px 0;
    background-color:limegreen;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;

}

.enviar:hover{
    background-color: mediumseagreen;
    transform:scale(1.1)
}